@font-face {

    src:url('../assets/fonts/font1.woff2');
    font-family:font1;
}

@font-face {

    src:url('../assets/fonts/font2.woff2');
    font-family:font2;
}

@font-face {

    src:url('../assets/fonts/font3.woff2');
    font-family:font3;
}

@font-face {

    src:url('../assets/fonts/font4.woff2');
    font-family:font4;
}

@font-face {

    src:url('../assets/fonts/font5.woff2');
    font-family:font5;
}

@font-face {

    src:url('../assets/fonts/font6.woff2');
    font-family:font6;
}

@font-face {

    src:url('../assets/fonts/font7.woff2');
    font-family:font7;
}

@font-face {

    src:url('../assets/fonts/font8.woff2');
    font-family:font8;
}