@font-face {

    font-family: Discord1;
    src: url(../assets/fonts/discordfont1.woff2);
}

@font-face {

    font-family: Discord2;
    src: url(../assets/fonts/discordfont2.woff2);
}

@font-face {

    font-family: Discord3;
    src: url(../assets/fonts/discordfont3.woff2);
}

@font-face {

    font-family: Discord4;
    src: url(../assets/fonts/discordfont4.woff2);
}

@font-face {

    font-family: Discord5;
    src: url(../assets/fonts/discordfont5.ttf);
}

@font-face {

    font-family: Discord6;
    src: url(../assets/fonts/discordfont6.ttf);
}

@font-face {

    font-family: Discord7;
    src: url(../assets/fonts/discordfont7.ttf);
}

@font-face {

    font-family: Discord8;
    src: url(../assets/fonts/discordfont8.woff2);
}

@font-face {

    font-family: Discord9;
    src: url(../assets/fonts/discordfont9.woff2);
}

@font-face {

    font-family: Discord10;
    src: url(../assets/fonts/discordfont10.woff2);
}