@font-face {
    font-family: Discordfont1;
    src: url('../assets/fonts/Discordfont1.woff2');
}

@font-face {
    font-family: Discordfont2;
    src: url('../assets/fonts/Discordfont2.woff2');
}

@font-face {
    font-family: Discordfont3;
    src: url('../assets/fonts/Discordfont3.woff2');
}

@font-face {
    font-family: Discordfont4;
    src: url('../assets/fonts/Discordfont4.woff2');
}

@font-face {
    font-family: Discordfont5;
    src: url('../assets/fonts/Discordfont5.woff2');
}

@font-face {
    font-family: Discordfont6;
    src: url('../assets/fonts/Discordfont6.woff2');
}